.filter-wrap {
    position: relative;
    white-space: nowrap;
}

.filter {
    cursor: pointer;
    font-size: 13pt;
    font-weight: 600;
    color: #616161;
    margin: 0 25px;
    padding: 0 40px;
    transition: all 0.5s ease-in-out;
}

.float-bar {
    bottom: 0;
    left: 30px;
    position: absolute;
    top: 0;
    background: #e31b6d;
    border-radius: 1px;
    height: 25px;
    margin: auto 0;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.float-bar .row {
    bottom: 0;
    left: -30px;
    position: absolute;
    top: 0;
    margin: auto 0;
    transition: left 0.5s ease-in-out;
}

.float-bar .row .filter {
    color: #fff;
}

/* Gallery */

#gallery {
    margin: 20px 0;
    padding: 0;
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.mix {
    position: relative;
}

.card {
    height: 300px;
    width: 390px;
    background: center center/cover;
    transition: opacity 0.5s;
}

.mix .text {
    color: #1b242f;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.text .bold {
    font-size: 16pt;
    font-weight: 700;
}

.highlight {
    cursor: default;
    color: #e31b6d;
}

.mix:hover .text {
    cursor: default;
    opacity: 1;
    top: 24%;
}

.mix:hover .card {
    opacity: 0;
}