@value colors: "../../shared/variables.css";
@value red, white, blue, gray from colors;

.btn {
	position: absolute;
	cursor: pointer;
	font-size: 13pt;
	margin: 0 auto;
	border: 2px solid red;
	transition: all 0.3s ease-in-out;
	outline: none;
}

/* Header section */

.welcomeLink {
	composes: btn;
	position: static;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	font-size: 16pt;
	border-color: white;
	padding: 12px 20px;
	margin-bottom: 53px;
}

.arrow-right {
	transition: all 0.3s;
}

/* Portfolio section */

.mixBtn {
	composes: btn;
	width: 170px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 7px 0;
	color: gray;
	opacity: 0;
}

.projectBtn {
	composes: btn;
	display: flex;
	gap: 10px;
	border-color: white;
	margin: 0;
	padding: 11px 25px;
	left: 25px;
	bottom: 20px;
	background-color: red;
	color: white;
	font-size: 10pt;
	font-weight: 600;
}

.submitBtn {
	composes: btn;
	position: static;
	border-color: white;
	background: transparent;
	color: white;
	float: right;
	font-size: 12pt;
	margin-top: 5px;
	padding: 10px 30px;
}

.submitBtn:hover {
	background: blue;
	color: white;
}

.mixBtn:hover {
	background: red;
	color: white;
}

.projectBtn:hover {
	background: white;
	color: red;
}

.welcomeLink:hover {
	background-color: blue;
	border-color: blue;
}

.welcomeLink:hover .arrow-right {
	transform: rotate(90deg);
}

.btn .mdi {
	vertical-align: middle;
}

.btn .mdi-open-in-new {
	font-size: 11pt;
	left: -10px;
	position: relative;
}
