section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0 130px 0;
}

.header {
    font-weight: 700;
    color: #444649;
    font-size: 30pt;
}

.header-bar {
    background: #444649;
    height: 4px;
    margin: 25px 0 100px 0;
    width: 70px;
}

#portfolio {
    background-color: #f5f5f5;
}

#contact {
    padding-top: 75px;
    background: #252934;
    color: #fff;
}

#contact .header {
    color: #fff;
}

#contact .header-bar {
    background: white;
    margin: 25px 0 40px 0;
    width: 110px;
}

@media screen and (max-width: 1030px) {
    .header-bar {
        margin: 25px 0 70px 0;
    }
}

@media screen and (max-width: 930px) {
    section .container {
        padding: 100px 0 90px 0;
    }
}