@value colors: "../../shared/variables.css";
@value white, gray, portfolioBg, contactBg from colors;

/* For containers */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0 130px 0;
}

.header {
	font-weight: 700;
	color: gray;
	font-size: 30pt;
}

.headerBar {
	background: gray;
	height: 4px;
	margin: 25px auto 100px auto;
	width: 70px;
}

/* Other sections */

.home {
	color: white;
	height: calc(100vh + 53px);
	padding: 0;
	display: flex;
	justify-content: center;
}

.portfolio {
	background-color: portfolioBg;
}

.contact {
	padding-top: 75px;
	background: contactBg;
	color: white;
}

.contact svg {
	position: absolute;
	left: 0;
	top: 0;
}

.contact .header {
	color: white;
}

.contact .headerBar {
	background: white;
	margin: 25px 0 40px 0;
	width: 110px;
}

@media screen and (max-width: 1030px) {
	.headerBar {
		margin: 25px auto 70px auto;
	}
}

@media screen and (max-width: 930px) {
	.container {
		padding: 100px 0 90px 0;
	}
}

@media screen and (max-width: 600px) {
	.container {
		padding: 60px 0 90px 0;
	}
	.header {
		font-size: 25pt;
	}
}
