.flex.row {
    flex-direction: row;
}

.flex.row-gt-sm {
    flex-direction: row;
}

.bullet-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 230px;
    padding: 0 10px;
}

.hex-wrap {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    text-align: center;
}

.hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    background-color: #04c2c9;
    display: inline-block;
}

.hexagon:before,
.hexagon:after {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
}

.hexagon:after {
    transform: rotateZ(-60deg);
}

.hexagon svg {
    font-size: 40pt;
    width: 100%;
    display: inline-block;
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 1;
}

.label {
    font-size: 18pt;
    font-weight: 700;
}

.label-wrap .label {
    margin: 20px 0 10px 0;
}

.label-wrap>div {
    padding: 0 15px;
}

.skills-wrapper {
    margin: 50px 0 0 0;
    align-items: flex-start;
    width: 100%;
}

.skills-wrapper .me {
    height: 250px;
}

.skills-wrapper>.flex:first-child {
    padding: 0 50px 0 50px;
}

.flex-50-gt-sm {
    /* -webkit-flex: 1 1 50%;
    flex: 1 1 50%; */
    max-height: 100%;
    max-width: 50%;
}

.skills-wrapper .label {
    margin: 20px 0 15px 0;
}

.bars-wrap {
    width: calc(100% - 15px);
}

section .flex-50-gt-sm {
    display: block;
}

.bar {
    position: relative;
    max-width: 90%;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 11pt;
    background-color: #eee;
    color: #666;
}

.bar:last-child {
    margin-bottom: 0px;
}

.fill {
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    background-color: #00a1a7;
    opacity: 1;
    padding: 0;
}

.bar span {
    position: absolute;
    right: 0;
    padding: 0 15px 0 0;
    z-index: 1;
    display: initial;
}

.bar .tag {
    font-weight: 600;
    width: 110px;
    left: 0;
    position: absolute;
    top: 0;
    background-color: #04c2c9;
    color: #fff;
    height: 100%;
}

.highlight {
    color: #009ada;
    cursor: pointer;
}

@media screen and (max-width: 1030px) {
    .row-gt-sm {
        flex-wrap: nowrap;
    }

    .bar span {
        padding-right: 10px;
    }
}

@media screen and (max-width: 930px) {
    .flex.row-gt-sm {
        flex-direction: column;
    }

    .flex-50-gt-sm {
        max-width: 90%;
    }

    .bars-wrap {
        margin-top: 30px;
    }

    .skills-wrapper>.flex:first-child {
        padding: 0;
    }
}

@media screen and (max-width: 820px) {
    .bar span {
        padding-right: 0px;
    }
}

@media screen and (max-width: 700px) {
    .skills-wrapper .me {
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    .skills-wrapper .me {
        height: 200px;
    }

    .hex-wrap {
        height: 80px;
        width: 80px;
    }

    .hexagon svg {
        font-size: 34pt;
    }

    .label {
        font-size: 14pt;
    }

    .skills-wrapper {
        margin: 0;
    }

    .bar {
        font-size: 10pt;
        height: 24px;
    }
}

/* На мобильной разработке пересмотреть эти свойства 
-webkit-flex: 1 1 50%;
flex: 1 1 50%;
width: calc(100% - 15px); */