@value colors: "../../shared/variables.css";
@value red, white, blue, gray, portfolioBg, fillRoads from colors;

/* Qualities */

.qualities {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.bulletWrap {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	height: 230px;
	padding: 0 10px;
}

.hexWrap {
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100px;
	text-align: center;
}

.hexagon {
	height: 100%;
	width: calc(100% * 0.57735);
	background-color: blue;
	display: inline-block;
}

.hexagon:before,
.hexagon:after {
	background-color: inherit;
	content: '';
	height: inherit;
	position: absolute;
	right: calc((100% / 2) - ((100% * 0.57735) / 2));
	top: 0;
	transform: rotateZ(60deg);
	width: inherit;
}

.hexagon:after {
	transform: rotateZ(-60deg);
}

.hexagon svg {
	font-size: 40pt;
	width: 100%;
	display: inline-block;
	color: white;
	left: 0;
	position: absolute;
	right: 0;
	top: 20px;
	z-index: 1;
}

.label {
	margin: 20px 0 10px 0;
	font-size: 18pt;
	font-weight: 700;
}

/* SkillWrapper */

.skillsWrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	margin: 50px 0 0 0;
	width: 100%;
}

.skillsWrapper > .wrapper:first-child {
	padding: 0 50px 0 50px;
}

.skillsWrapper .Label {
	margin: 20px 0 15px 0;
}

.wrapper {
	max-height: 100%;
	max-width: 50%;
}

.barsWrap {
	width: calc(100% - 15px);
}

.me {
	height: 250px;
}

p {
	margin: 0;
}

.bar {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 90%;
	height: 28px;
	margin: 0 auto;
	margin-bottom: 15px;
	font-size: 11pt;
	background-color: portfolioBg;
	color: gray;
}

.bar:last-child {
	margin-bottom: 0px;
}

.fill {
	height: inherit;
	background-color: fillRoads;
}

.bar span {
	position: absolute;
	right: 0;
	padding: 0 15px 0 0;
	z-index: 1;
}

.tag {
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	width: 200px;
	background-color: blue;
	color: white;
	height: 100%;
}

.highlight {
	color: blue;
	cursor: pointer;
}

@media screen and (max-width: 1030px) {
	.skillsWrapper {
		flex-wrap: nowrap;
	}

	.bar span {
		padding-right: 10px;
	}
}

@media screen and (max-width: 930px) {
	.qualities {
		grid-template-columns: repeat(2, 1fr);
	}

	.skillsWrapper {
		flex-direction: column;
	}

	.wrapper {
		max-width: 90%;
	}

	.barsWrap {
		margin-top: 30px;
	}
}

@media screen and (max-width: 820px) {
	.bar span {
		padding-right: 0px;
	}
}

@media screen and (max-width: 700px) {
	.me {
		height: 200px;
	}

	.hexWrap {
		height: 80px;
		width: 80px;
	}

	.hexagon svg {
		font-size: 34pt;
	}

	.label {
		font-size: 14pt;
	}

	.skillsWrapper {
		margin: 0;
	}

	.skillsWrapper .me {
		height: 200px;
	}

	.bar {
		font-size: 10pt;
		height: 24px;
	}
}

@media screen and (max-width: 500px) {
	.bulletWrap {
		height: 180px;
	}
	.tag {
		font-size: 7pt;
		width: 130px;
	}
}
