.link {
    position: relative;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    transition: all 500ms ease;
    font-size: 16pt;
    border: 2px solid #ffffff;
    padding: 12px 50px 12px 20px;
    margin-bottom: 53px;
}

.arrow {
    position: absolute;
    right: 15px;
    bottom: 0;
    transform: translate(0%, -50%);
    transition: all 0.3s;
}

.link:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;
}

.link:hover :nth-child(2) {
    transform: rotate(90deg) translate(-50%);
}