@value colors: "../../shared/variables.css";
@value modalBgMask, white, black, navPanelBg, tagText from colors;

.modalWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 2;
}

.mask {
	position: absolute;
	left: 0;
	opacity: 1;
	top: 0;
	width: 100%;
	height: 100%;
	background: modalBgMask;
	transition: opacity 0.3s;
}

.modal {
	height: initial;
	width: min-content;
	top: -6vh;
	background: white;
	box-shadow: 0 0 10px rgb(0 0 0 / 40%);
	position: relative;
	text-align: left;
}

.infoBox {
	padding: 35px 60px 90px 25px;
	border-top: 3px solid black;
	box-sizing: border-box;
	color: navPanelBg;
}

.title {
	font-size: 22pt;
	line-height: 30pt;
	font-weight: 700;
}

.tag {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: tagText;
	display: block;
	font-weight: 700;
	font-size: 11pt;
	padding-bottom: 15px;
}

.detail {
	font-size: 11pt;
	line-height: 18pt;
	margin-top: 15px;
}

.close {
	bottom: 25px;
	color: tagText;
	cursor: pointer;
	font-size: 20pt;
	font-weight: 800;
	position: absolute;
	right: 25px;
}

.modalBody {
	overflow: hidden;
}

.notification {
	position: relative;
	background-color: white;
	min-height: 200px;
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	font-weight: 500;
	font-size: 1.5em;
	border-radius: 15px;
	text-align: center;
}

.notification > .close {
	top: 25px;
}

@media screen and (max-width: 500px) {
	.modal {
		width: 85%;
	}

	.detail {
		line-height: 12pt;
	}
}
