.desk {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: -webkit-fill-available;
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    text-align: left;
    z-index: 99;
}

.link-wrap {
    position: initial;
    max-width: 1200px;
    width: 100%;
    top: 53px;
    background: none;
    height: initial;
    overflow: visible;
    text-align: left;
}

.link-wrap a:first-child {
    padding: 0;
}

.link-wrap>a {
    color: white;
    display: inline;
    font-size: 14pt;
    margin: 0 20px;
    padding: initial;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.5s;
}

.link-wrap>.active {
    color: #e31b6d;
    transition: color 0.5s;
}

.page-link {
    text-decoration: none;
    color: white;
    border: none;
}

.desk .page-link:hover {
    color: #e31b6d;
}

.fixed {
    position: fixed;
    top: 0;
    animation: popDown 0.5s;
}

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}

@media screen and (max-width: 700px) {
    .link-wrap {
        width: auto;
    }

    .link-wrap>a {
        margin: 0 10px;
    }
}